@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.primary.DEFAULT');
    font-family: theme('fontFamily.sans');
    margin: 0;
  }
}
